.claude/**
.github/**
.vscode/**
.vscode-test/**
.husky/**
.yarn/**
assets/*.fig
src/**
.gitignore
.pre-commit-config.yaml
.yarnrc.yml
biome.jsonc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
